<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/favicon/favicon.ico" />
    <link rel="stylesheet" href="/frontend/global.css">
    <title>TicTacToe-online</title>
    <style>
        h1 {
            color: white;
            text-align: center;
        }

        h2 {
            color: white;
            text-align: center;
        }

        #retry {
            display: inline-block;
            padding: 10px;
            background-color: #ff9900;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            height: 50px;
            font-weight: bold;
            border-style: none;
            margin: auto;
        }

        .result {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
        }

        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            margin-top: 4%;
        }

        #goBack {
            margin: 60px auto;
            display: inline-block;
            padding: 10px;
            background-color: #cb1a1a;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            font-weight: bold;
            border-style: none;
        }

        .gameBoard {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin: 10px 10px 10px 10px;
        }

        .boardBox {
            width: 90px;
            height: 90px;
            border-radius: 10px;
            border: none;
            margin: 10px 10px 10px 10px;
            font-size: 35px;
        }

        .findMatch {
            background-color: rgb(46, 44, 44);
            padding: 10px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: auto;
            width: 30%;
            height: 500px;
            padding: 50px;
        }

        .findMatch>button {
            display: inline-block;
            padding: 10px;
            background-color: #ff9900;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            width: 200px;
            font-weight: bold;
            border-style: none;
            margin: auto;
        }

        .loadingMatch {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        @media only screen and (max-width: 768px) {
            .container {
                display: flex;
                justify-content: space-between;
                margin-top: 40%;
            }

            .gameBoard {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 500px;
            }

            .result {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 500px;
            }

            .findMatch {
                background-color: rgb(46, 44, 44);
                padding: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: auto;
                width: 90%;
                height: 4s00px;
                padding: 10px;
            }

            .findMatch>button {
                display: inline-block;
                padding: 10px;
                background-color: #ff9900;
                color: #fff;
                text-decoration: none;
                border-radius: 4px;
                width: 200px;
                height: 70px;
                font-weight: bold;
                border-style: none;
                margin: auto;
            }

            .boardBox {
                width: 90px;
                height: 90px;
                border-radius: 10px;
                border: none;
                margin: 10px 10px 10px 10px;
            }

        }
    </style>
</head>

<body>

    <div class="container" id="container">
        <div class="findMatch">
            <h1>Tic Tac Toe</h1>
            <button onclick="playWithBot()">Play with bot</button>
            <button onclick="findMatch()">Find match</button>
            <button onclick="playWithFriends()">Play with friend</button>
        </div>
        <button id="goBack" onclick="home()">Exit</button>
    </div>
    <script>
        let box1;
        function playWithBot() {
            const scriptToRemove = document.getElementById("tictactoebot-script");
            if (scriptToRemove) {
                scriptToRemove.remove();
            }
            document.getElementById("container").innerHTML = `
            <div class="gameBoard">
                <h1>Tic Tac Toe</h1>
                <div class="row">
                    <button id="box1-0" class="boardBox"></button>
                    <button id="box1-1" class="boardBox"></button>
                    <button id="box1-2" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box1-3" class="boardBox"></button>
                    <button id="box1-4" class="boardBox"></button>
                    <button id="box1-5" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box1-6" class="boardBox"></button>
                    <button id="box1-7" class="boardBox"></button>
                    <button id="box1-8" class="boardBox"></button>
                </div>
            </div>
            <button id="goBack" onclick="goBack()">Surrender?</button>`
            const script = document.createElement("script");
            script.src = "./scripts/tictactoebot.js";
            script.id = "tictactoebot-script";
            document.body.appendChild(script);
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function playWithFriends() {
            socket.emit('loadfriends', { userID: "<%= username %>" });

            document.getElementById("container").innerHTML = `
        <div class="friends">
            <h1>Friends</h1>
            <ul id="online-friends-list">
            </ul>
        </div>`;

            socket.on("online", (data) => {
        
                const onlineFriends = data.online;
                console.log(onlineFriends);
 
                const onlineFriendsList = document.getElementById("online-friends-list");
                onlineFriendsList.innerHTML = "";

                // Populate the list with online friends
                onlineFriends.forEach((friend) => {
                    const li = document.createElement("li");
                    li.textContent = friend;
                    onlineFriendsList.appendChild(li);
                });
            });
        }


    </script>
    <script>
        function home() {
            window.location.href = "/";
        }
        function goBack() {
            document.getElementById("container").innerHTML = `<div class="findMatch">
                    <h1>Tic Tac Toe</h1>
                    <button onclick="playWithBot()">Play with bot</button>
                    <button onclick="findMatch()">Find match</button>
                    <button onclick="playWithFriends()">Play with friends</button>
                </div>
                <button id="goBack" onclick="home()">Exit</button>`
        }
        function cancel() {
            document.getElementById("container").innerHTML = `<div class="findMatch">
                    <h1>Tic Tac Toe</h1>
                    <button onclick="playWithBot()">Play with bot</button>
                    <button onclick="findMatch()">Find match</button>
                    <button onclick="playWithFriends()">Play with friends</button>
                </div>
                <button id="goBack" onclick="home()">Exit</button>`
            socket.emit('removeAvailable', { senderID: "<%= username %>" });
        }
    </script>
    <script>
        const socket = io();
        socket.emit("connection");
        socket.emit("authenticate", { userID: "<%= username %>" });
        var player2;
        var event = new CustomEvent("childScriptReady", { detail: { myVariable: player2 } });
        senderName = "<%= username %>";
        function findMatch() {

            document.getElementById("container").innerHTML = `
            <div class="loadingMatch">
                <h1>Finding players...</h1>
                <h2>Estimate time 30s..</h2>
                <button id="goBack" onclick="cancel()">Cancel</button>
            </div>`


            socket.emit('findMatchForTictactoe', { senderID: "<%= username %>" });
            socket.on('matchedForTictactoe', (matchedUserData) => {
                console.log('You are matched with:', matchedUserData);
                player2 = matchedUserData;
                if (matchedUserData) {
                    loadBoard()
                }
            });
        }
        function loadBoard() {
            const scriptToRemove1 = document.getElementById("tictactoebot-script1");
            if (scriptToRemove1) {
                scriptToRemove1.remove();
            }
            document.getElementById("container").innerHTML = `
            <div class="gameBoard">
                <h1>Tic Tac Toe</h1>
                <div class="row">
                    <button id="box-0" class="boardBox"></button>
                    <button id="box-1" class="boardBox"></button>
                    <button id="box-2" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box-3" class="boardBox"></button>
                    <button id="box-4" class="boardBox"></button>
                    <button id="box-5" class="boardBox"></button>
                </div>
                <div class="row">
                    <button id="box-6" class="boardBox"></button>
                    <button id="box-7" class="boardBox"></button>
                    <button id="box-8" class="boardBox"></button>
                </div>
            </div>`
            function loadChildScript() {
                var script = document.createElement("script");
                script.src = "./scripts/tictactoeonline.js";
                script.onload = function () {
                    window.dispatchEvent(event);
                };
                document.head.appendChild(script);
            }
            loadChildScript();
        }
    </script>
</body>

</html>