<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= repository %>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #1d1b34;
            margin: 0;
            padding: 0;
        }

        a {
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 30px;
        }

        h1 {
            color: white;
        }

        .header {
            display: flex;
            justify-content: space-between;
            background-color: #1d1b34;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .profile-button {
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 18px;
            margin-right: 10px;
            cursor: pointer;
        }

        header h1 {
            font-size: 36px;
        }

        main {
            display: flex;
            justify-content: space-between;
        }

        #file {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            width: 65%;
            height: fit-content;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .view-file {
            width: 600px;
            height: fit-content;
            border-radius: 10px;
        }

        #fileTree {
            border-radius: 10px;
            background-color: gray;
        }

        h2 {
            color: #07a607;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 10px;
        }

        #info {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            width: 30%;
            max-height: 500px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        #repo-container {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        button {
            background-color: #07a607;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin-top: 20px;
            font-weight: bold;
        }

        textarea {
            margin-top: 20px;
            resize: none;
            padding-left: 92px;
            border: none;
            tab-size: 8;
            outline: none;
            overflow: hidden;
            height: auto;
            width: 100%;
            font-size: 12px;
            line-height: 20px;
            overflow-wrap: normal;
            white-space: pre;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/"><img src="/assets/logo2.jpg"></a>
        <button class="profile-button" onclick="profile()">Profile</button>
    </div>
    <main>
        <section id="file">
            <div id="fileTree"></div>
            <button onclick="copy()">Copy</button>
            <button onclick="edit()">Edit</button>
            <button onclick="save()">Save</button>
            <div class="view-file">
                <textarea id="view-file" aria-label="file content" aria-readonly="true" inputmode="none" tabindex="0"
                    aria-multiline="true" aria-haspopup="false" data-gramm="false" data-gramm_editor="false"
                    data-enable-grammarly="false" spellcheck="false" autocorrect="off" autocapitalize="off"
                    autocomplete="off" data-ms-editor="false" readonly></textarea>
            </div>

        </section>
        <section id="info">
            <h2>Repository Details</h2>
            <div id="details"></div>
            <div>
                <h2>Actions</h2>
                <button onclick="settings()">settings</button>
                <button>contributers</button>
                <button>share</button>
            </div>
        </section>
    </main>

</body>


<script>
    const username = "<%= username %>";
    const repository = "<%= repository %>";
    let fileName;
    function loadRepository() {

        fetch(`/getRepository?userId=${username}&repository=${repository}`, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
            },
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                if (data.status === "success") {
                    const repository = data.repository;
                    const fileContent = data.fileContent;
                    fileName = data.fileName;

                    const repoContainer = document.getElementById("view-file");
                    const repoDetails = document.getElementById("details");
                    repoContainer.innerHTML = "";

                    const repoElement = document.createElement("div");
                    repoElement.className = "repository";
                    repoDetails.innerHTML = `<h3>${repository.name}</h3><p>Description: ${repository.description || ' '}</p>
                    <p>Topics: ${repository.topics || ' '}</p> <p>Contributers: ${repository.contributers || ' '} </p>`;
                    repoContainer.appendChild(repoElement);

                    const fileContentElement = document.getElementById("view-file");
                    fileContentElement.value = fileContent;
                    fileContentElement.style.height = (fileContentElement.scrollHeight) + "px";
                } else {
                    alert("Failed to load repository: " + data.message);
                }
            })
            .catch((error) => {
                console.error("Error loading repository", error);
                alert("An error occurred while loading the repository. Please try again later.");
            });
    }

    loadRepository();
</script>

<script>
    // Function to copy content
    function copy() {
        document.querySelector("#view-file").select();
        document.execCommand("copy");
        alert("File content copied to clipboard.");
    }

    // Function to edit content
    function edit() {
        const fileContentElement = document.querySelector("#view-file");
        fileContentElement.removeAttribute("readonly");
        const fileContent = document.querySelector("#view-file").value;
        const editTextArea = document.createElement("textarea");
        editTextArea.value = fileContent;
        fileContentElement.innerHTML = "";
        fileContentElement.appendChild(editTextArea);
    }

    // Function to save content
    function save() {
        const editTextArea = document.querySelector("#view-file");
        const editedContent = editTextArea.value;

        const username = "<%= username %>";
        const repository = "<%= repository %>";
        const blob = new Blob([editedContent], { type: 'text/plain' });

        const formData = new FormData()
        formData.append("name", repository);
        formData.append("editedFile", blob, fileName);

        fetch("/updateRepositoryFile", {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                if (data.status === "success") {
                    alert("Content saved successfully.");
                } else {
                    alert("Failed to save content: " + data.message);
                }
            })
            .catch((error) => {
                console.error("Error saving content", error);
            });

            editTextArea.setAttribute("readonly", "true"); 
    }



</script>


</html>