<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico" />
    <link rel="stylesheet" href="/frontend/global.css">
    <link rel="stylesheet" href="/frontend/animation.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Nova Star</title>
</head>
<style>
    body {
        color: white;
    }

    .games {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 50%;
        ;
        margin: 5% 5% 5%;
    }

    .in-game {
        width: 40%;
        height: 250px;
        margin-left: 2%;
        background-color: var(--main-bg-color-2);
        border-radius: 7px;
        cursor: pointer;
    }

    .friends {
        background-color: var(--main-bg-color-2);
        width: 10%;
        height: max-content;
        border-radius: 4px;
        margin-left: 10%;
        padding-left: 2%;
    }

    @media only screen and (max-width: 768px) {
        .games {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 40%;
            margin: auto;

        }

        .in-game {
            width: 90%;
            height: 250px;
            margin: 2% auto;
        }

        .friends {
            background-color: var(--main-bg-color-2);
            width: 80%;
            height: max-content;
            border-radius: 4px;
            margin-left: 10%;
            padding-left: 2%;
        }
    }
</style>

<body>
    <header class="header-overlay header-logged">
        <div class="novastar">
            <a href="/" class="logo"><img src="/assets/favicon/favicon-32x32.png"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/<%= username %>"><span class=" material-symbols-outlined"
                        style="color: white;">account_circle</span>
                        <%= username %>
                    </a></li>
            </ul>
        </nav>
    </header>
    <div class="games">
        <div class="in-game" onclick="r_p_c()">Rock-Paper-scissors</div>
        <div class="in-game" onclick="TicTacToe_online()">TicTacToe-online</div>
        <div class="in-game" onclick="shootDown()">shootDown</div>
        <div class="in-game" onclick="t_t_t()">Tic Tac Toe</div>
        <div class="in-game" onclick="chess()">chess</div>
    </div>
    <!-- <div class="friends" id="friends">
        <label>Friends:</label>
        <ul>
            <li>jithesh</li>
            <li>vijeth</li>
            <li>mayur</li>
        </ul>
    </div> -->
    <script>
        function r_p_c() {
            window.location.href = "/<%= username %>/Rock-Paper-Scissors";
        }
        function TicTacToe_online() {
            window.location.href = "/<%= username %>/TicTacToe-online";
        }
        function shootDown() {
            window.location.href = "/<%= username %>/shootDown";
        }
        function t_t_t() {
            window.location.href = "/<%= username %>/TicTacToe";
        }
        function chess() {
            window.location.href = "/<%= username %>/chess";
        }
    </script>

</body>

</html>